body {
background: url('backgroundgradient.png') repeat; 
text-align: center;
}
#main{
width: 1000px;
height: 900px;
margin:25px auto;
border: solid 0px #ffffff;
padding: 10px; 
}
h1{
text-align: center;
font-family:"Times New Roman";
font-size: 12pt;
color: #ffffff;
text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
hr{
height: solid 2px;
color: #000000;
}
h2{
text-align: center;
font-family:"Times New Roman";
font-size: 20pt;
color: #ffffff;
text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
h3{
text-align: center;
font-family:"Times New Roman";
font-size: 12pt;
color: #ffffff;
text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
p{
font-family:"Calibri";
font-size: 12pt;
text-align: center;
text-indent: 48px;
color: #ffffff;
text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}